/*
!.gitignore
!extra_exercises/
!ssh/
!default/
!init.d/
!pam.d/
!sshguard/
!incron.d/
!scripts/
!sudoers*
!nagios-plugins*
!group
!network/

# NTP 
!NetworkManager*
!apparmor*
!cron.daily*
!dhcp/dhclient-exit-hooks.d/
!ntp.conf
!logcheck/

# DNS
!bind/
!ppp/
!ufw/

# Apache
!apache2/
!logrotate.d/apache2

# PHP
!php/
!cron.d/php

*.swp

# HTTPS
!apt/sources.list.d

# SMTP
!postfix/
!insserv.conf.d/
!resolvconf/
!rsyslog.d/
!ufw/
!dovecot/

bind/zones/subzone*

# ftp
!ftpusers
!vsftpd.conf
!logrotate.d/vsftpd

# firewall
!systemd/system/firewall.service
!iptables/
