/*
!.gitignore
!extra_exercises/
!ssh/
!default/
!init.d/
!pam.d/
!sshguard/
!incron.d/
!scripts/
!sudoers*
!nagios-plugins*
!group
!network/

# NTP 
!NetworkManager*
!apparmor*
!cron.daily*
!dhcp/dhclient-exit-hooks.d/
!ntp.conf

!logcheck/
